<menu>
    <display>
        <nome>Pedidos do sistema</nome>
        <descricao>Cadastro de Pedidos do sistema</descricao>
        <atividade>1</atividade>
        <link>cadastro_pedidos.html</link>
        <class>btn-outline-primary</class>
        <style>lnr-briefcase</style>
    </display>
</menu>
